/* Fully transparent background for the bar */
window#waybar {
  background-color: transparent;
  border: none;
}


/* Style for modules */
#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces {
  padding: 6px 13px;
  margin: 0 6px;
  background-color: rgba(40, 42, 54, 0.85);  /* semi-transparent background */
  border-radius: 10px;
  font-size: 13px;
  font-family: "FiraCode Nerd Font";
  transition: background-color 0.3s ease;
}

/* Hover effects 
#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#workspaces:hover {
  background-color: rgba(98, 114, 164, 0.9);
}
*/

/* Specific colors per module (optional) */
#clock { color: #8be9fd; }
#network { color: #8be9fd; }
#cpu { color: #ff5555; } 
#memory { color: #bd93f9; }
#pulseaudio { color: #F5B04B; }

/* Workspaces styling */
#workspaces button {
  background: transparent;
  color: #f8f8f2;
  border: none;
  padding: 0 8px;
  margin: 0 2px;
  font-size: 16px;
  transition: color 0.3s ease;
}

#workspaces button.active {
  color: #CF4E6D;
}

/* Occupied workspace (not focused but has windows) */
#workspaces button.visible:not(.active) {
  color: #ffffff; /* pure white */
}

/* Empty workspaces */
#workspaces button.empty {
  color: #888888; /* optional: dimmer for clarity */
}

